html {
  font-size: 62.5%;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 5rem;
  line-height: 1.3;
}

h2 {
  font-size: 2.1rem;
  line-height: 1.2;
}
@media (min-width: 768px) {
  h2 {
    font-size: 4.5rem;
  }
}

h3 {
  font-size: 4rem;
  line-height: 1.2;
}

h4 {
  font-size: 3.5rem;
  line-height: 1.2;
}

p {
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  p {
    font-size: 3.6rem;
    margin-bottom: 5rem;
  }
}
p:last-child {
  margin-bottom: 0;
}

body {
  background-color: #fff;
  font-family: "Proxima Nova", serif;
  font-weight: bold;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99999;
  transform: translateY(0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
header.hidden {
  transform: translateY(-100%);
}
header a {
  width: 100%;
  max-width: 190px;
  padding-top: 30px;
}
@media (min-width: 768px) {
  header a {
    max-width: 320px;
  }
}
header a .header-logo {
  width: 100%;
}

footer {
  background-color: #1d4289;
  padding: 80px 40px;
}
footer .form-intro {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.2;
}
@media (min-width: 768px) {
  footer .form-intro {
    font-size: 3.6rem;
  }
}

section {
  position: relative;
  padding: 30px 40px;
}
@media (min-width: 768px) {
  section {
    padding: 80px 40px;
  }
}
section.blue-mask::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(48, 127, 226, 0.8);
  z-index: 1;
}

.section-title {
  position: relative;
  color: #fff;
  margin-bottom: 5rem;
  z-index: 99;
}

.animate,
.animate-2 {
  transform: translateY(20px);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.animate.fadeIn,
.animate-2.fadeIn {
  transform: translateY(0);
  opacity: 1;
}

.hero {
  display: block;
  width: 100vw;
  height: 392px;
  overflow: hidden;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 576px) {
  .hero {
    height: 500px;
  }
}
@media (min-width: 768px) {
  .hero {
    height: calc(100vh + 100px);
    min-height: 500px;
  }
}
.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(226, 234, 242, 0.6);
  z-index: 10;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -60px;
  right: 0;
  left: 0;
  width: 100%;
  height: 120px;
  border-radius: 50%;
  background: #307fe2;
  z-index: 11;
}
@media (min-width: 768px) {
  .hero::after {
    bottom: -190px;
    height: 380px;
  }
}
.hero .hero-container {
  position: relative;
  height: 100%;
}
.hero .hero-scroll-downs {
  position: absolute;
  right: 0;
  bottom: 24%;
  left: 0;
  width: 34px;
  height: 55px;
  margin: auto;
  transform: translateY(20px);
  opacity: 0;
  z-index: 999;
}
.hero .hero-scroll-downs .mouse {
  width: 4px;
  height: 30px;
  padding: 8px 8px;
  border: 3px solid #307fe2;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.hero .hero-scroll-downs .scroller {
  width: 4px;
  height: 10px;
  border-radius: 25%;
  background-color: #307fe2;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(28px);
    opacity: 0;
  }
}
.hero .hero-slogan {
  position: relative;
  width: 100%;
  max-width: 1265px;
  padding: 0 8%;
  margin-bottom: 0;
  transform: translateY(-50px);
  opacity: 0;
  z-index: 99;
}
@media (min-width: 768px) {
  .hero .hero-slogan {
    margin-bottom: 12%;
  }
}

.section__intro {
  background-color: #307fe2;
  color: #fff;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .section__intro {
    padding-bottom: 120px;
  }
}
.section__intro .intro-title {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  font-size: 2.1rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .section__intro .intro-title {
    font-size: 9.6rem;
    margin-bottom: 5rem;
  }
}

.section__pledge {
  background-image: url("../img/office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section__pledge h1 {
  position: relative;
  font-size: 7.4vw;
  line-height: 0.9;
  color: #fff;
  text-transform: uppercase;
  z-index: 99;
  transform: translateX(-70px);
  opacity: 0;
}
.section__pledge h1 .txt-bodoni {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 6vw;
}
.section__pledge h1 .txt-large {
  font-size: 12vw;
}
.section__pledge h1 span {
  display: block;
  position: relative;
}
.section__pledge h1 span#p-txt-3 {
  text-align: center;
}
.section__pledge h1 span#p-txt-4 {
  padding-left: 44%;
}
.section__pledge h1 span#p-txt-5 {
  padding-left: 42%;
}
.section__pledge h1 span#p-txt-6, .section__pledge h1 span#p-txt-7, .section__pledge h1 span#p-txt-8, .section__pledge h1 span#p-txt-9 {
  padding-left: 30%;
}

.section__experience {
  background-color: #235ba8;
}
.section__experience .icon-wrap {
  margin-bottom: 15px;
  padding: 0 20px;
}
@media (min-width: 576px) {
  .section__experience .icon-wrap {
    padding: 0 40px;
  }
}
@media (min-width: 768px) {
  .section__experience .icon-wrap {
    padding: 0 20px;
    margin-bottom: 0;
  }
}
.section__experience .exp-icon {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.section__experience .icon-title {
  display: block;
  font-size: 1.3rem;
  color: #fff;
}

.section__campaign {
  background-image: url("../img/campaign.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section__campaign .campaign-figures {
  position: relative;
  z-index: 99;
}

.footer-form {
  color: #fff;
  width: 100%;
  max-width: 480px;
}
.footer-form label {
  display: block;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 12px;
}
.footer-form input,
.footer-form select {
  display: block;
  width: 100%;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  padding: 2px 10px;
  margin-top: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer-form input:focus,
.footer-form select:focus {
  border-radius: 0;
  outline: none !important;
  color: #000;
  background-color: #fff;
}
.footer-form input[type=submit] {
  background-color: #ff6d6a;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  padding: 8px 0;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer-form input[type=submit]:hover {
  opacity: 0.8;
}
.footer-form input[type=submit]:active {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
